{% set disableUser = false %}
{% if portfolio['id'] is defined %}
    {% set portfolioId = portfolio['id'] %}
    {% set portfolioName = portfolio['name'] %}
    {% set portfolioUser = portfolio['user_id'] %}
    {% set portfolioDescription = portfolio['description'] %}
    {% set portfolioInvestedAmount = portfolio['invested_amount'] %}
    {% set portfolioTotalValue = portfolio['total_value'] %}
    {% set portfolioProfitLoss = portfolio['profit_loss'] %}
    {% set disableUser = true %}
{% else %}
    {% set portfolio = [] %}
    {% set portfolioId = '' %}
    {% set portfolioName = '' %}
    {% set portfolioUser = '' %}
    {% set portfolioDescription = '' %}
    {% set portfolioInvestedAmount = '0.00' %}
    {% set portfolioTotalValue = '0.00' %}
    {% set portfolioProfitLoss = '0.00' %}
{% endif %}

<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'id',
                'fieldLabel'                     : 'ID',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'ID',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldHidden'                    : true,
                'fieldDisabled'                  : true,
                'fieldValue'                     : portfolioId
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'name',
                'fieldLabel'                     : 'Name',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Name',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : portfolioName
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'user_id',
                'fieldLabel'                     : 'User',
                'fieldType'                      : 'select2',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'User',
                'fieldRequired'                  : true,
                'fieldDisabled'                  : disableUser,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : false,
                'fieldDataSelect2Options'        : users,
                'fieldDataSelect2OptionsKey'     : 'id',
                'fieldDataSelect2OptionsValue'   : 'name',
                'fieldDataSelect2OptionsArray'   : true,
                'fieldDataSelect2OptionsSelected': portfolioUser
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'description',
                'fieldLabel'                     : 'Description',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 4096,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Description of the portfolio',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 1024,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : portfolioDescription
            ]
        )}}
    </div>
</div>
{% if portfolio['id'] is defined %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
            'component'                     : component,
            'componentName'                 : componentName,
            'componentId'                   : componentId,
            'parentComponentId'             : parent,
            'sectionId'                     : sectionId,
            'buttonType'                    : 'button',
            'buttons'                       :
                    [
                        'recalculate' : [
                            'title'                   : 'Recalculate',
                            'size'                    : 'xs',
                            'type'                    : 'primary',
                            'position'                : 'right',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true
                        ]
                    ]
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'invested_amount',
                'fieldLabel'                     : 'Invested Amount',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Invested Amount',
                'fieldGroupPreAddonText'         : currencySymbol,
                'fieldRequired'                  : false,
                'fieldDisabled'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : false,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : portfolioInvestedAmount
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'total_value',
                'fieldLabel'                     : 'Total value',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Total value',
                'fieldGroupPreAddonText'         : currencySymbol,
                'fieldRequired'                  : false,
                'fieldDisabled'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : false,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : portfolioTotalValue
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'profit_loss',
                'fieldLabel'                     : 'Profit/Loss',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Profit/Loss',
                'fieldGroupPreAddonText'         : currencySymbol,
                'fieldRequired'                  : false,
                'fieldDisabled'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : false,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : portfolioProfitLoss
            ]
        )}}
    </div>
</div>
{% endif %}
{% set transactions = [] %}
{% if portfolio['id'] is defined %}
    <hr>
    <div class="row">
        <div class="col">
            {% set url = links.url('mf/portfolios/q/id/' ~ portfolio['id']) %}
            {% if mode == 'timeline' %}
                {% set url = links.url('mf/portfolios/q/mode/timeline/id/' ~ portfolio['id']) %}
            {% endif %}
            {{adminltetags.useTag('buttons',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'buttonType'                    : 'button',
                    'buttons'                       :
                        [
                            'portfolios-link'    : [
                                'title'                   : 'link',
                                'size'                    : 'xs',
                                'disabled'                : true,
                                'hidden'                  : true,
                                'url'                     : url
                            ]
                        ]
                ]
            )}}
        </div>
        <div class="col">
            {{adminltetags.useTag('buttons',
                [
                'component'                     : component,
                'componentName'                 : componentName,
                'componentId'                   : componentId,
                'parentComponentId'             : parent,
                'sectionId'                     : sectionId,
                'buttonType'                    : 'button',
                'buttons'                       :
                        [
                            'sell' : [
                                'title'                   : 'Sell',
                                'size'                    : 'xs',
                                'type'                    : 'warning',
                                'position'                : 'right',
                                'icon'                    : 'minus'
                            ],
                            'buy' : [
                                'title'                   : 'Buy',
                                'size'                    : 'xs',
                                'type'                    : 'success',
                                'position'                : 'right',
                                'icon'                    : 'plus'
                            ]
                        ]
                ]
            )}}
        </div>
    </div>
    {% set transactionsHtml = '' %}
    {% if portfolio['transactions'] is defined and portfolio['transactions']|length > 0 %}
        {% for transaction in portfolio['transactions'] %}
            {% set transactionsHtml = transactionsHtml ~ '<tr>' ~
            '           <td>' ~ transaction['id'] ~ '</td>' ~
            '           <td>' ~ transaction['date'] ~ '</td>' ~
            '           <td>' ~ strtoupper(transaction['type']) ~ '</td>' ~
            '           <td>' ~ transaction['amfi_code'] ~ '</td>' ~
            '           <td>' ~ transaction['tx_units'] ~ '</td>' ~
            '           <td>' ~ transaction['amount'] ~ '</td>' ~
            '           <td>' %}
                {% set dropdowns = [] %}
                {% set dropdowns['edit-' ~ transaction['id']] = [
                        'title'             : 'edit',
                        'size'              : 'xs',
                        'type'              : 'warning',
                        'additionalClass'   : 'editTransaction'
                    ]
                %}
                {% set dropdowns['remove-' ~ transaction['id']] = [
                        'title'             : 'remove',
                        'size'              : 'xs',
                        'type'              : 'warning',
                        'additionalClass'   : 'removeTransaction'
                    ]
                %}
            {% set transactionsHtml = transactionsHtml ~
                adminltetags.useTag('buttons',
                    [
                        'component'                     : component,
                        'componentName'                 : componentName,
                        'componentId'                   : componentId,
                        'parentComponentId'             : parent,
                        'sectionId'                     : sectionId,
                        'buttonType'                    : 'DropdownSplitButtons',
                        'dropdownSplitButtonsSplit'     : true,
                        'dropdownAlign'                 : 'right',
                        'splitMainButtonAdditionalClass': 'viewTransaction',
                        'splitMainButtonId'             : 'view-' ~ transaction['id'],
                        'splitMainButtonTitle'          : 'View',
                        'buttonFlat'                    : true,
                        'splitMainButtonType'           : 'info',
                        'dropdowns'                     : dropdowns
                    ]
                )
            ~ '</td>' ~
            '       </tr>' %}
            {% set transactions[transaction['id']] = transaction %}
        {% endfor %}
    {% endif %}
    <label>PORTFOLIO TRANSACTIONS</label>
    <div class="row" id="transactions-table">
        <div class="col">
            <table id="{{componentId}}-{{sectionId}}-transactions-table" class="table table-sm table-hover responsive nowrap mb-0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-uppercase">ID</th>
                        <th class="text-uppercase">DATE</th>
                        <th class="text-uppercase">TYPE</th>
                        <th class="text-uppercase">SCHEME</th>
                        <th class="text-uppercase">UNITS</th>
                        <th class="text-uppercase">AMOUNT ({{ currencySymbol }})</th>
                        <th class="text-uppercase">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    {{transactionsHtml}}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        {{adminltetags.useTag('modal',
            [
                'component'                 : component,
                'componentName'             : componentName,
                'componentId'               : componentId,
                'sectionId'                 : sectionId,
                'modalId'                   : 'buy-modal',
                'modalBodyInclude'          : 'portfolios/transaction/buy',
                'modalSize'                 : 'xl',
                'modalType'                 : 'success',
                'modalHeader'               : true,
                'modalFooter'               : true,
                'modalHeaderCloseButton'    : true,
                'modalEscClose'             : true,
                'modalTitle'                : currencySymbol ~ ' BUY TRANSACTION',
                'modalFooterButtons'        :
                    [
                    'component'                     : component,
                    'componentName'                 : componentName,
                    'componentId'                   : componentId,
                    'parentComponentId'             : parent,
                    'sectionId'                     : sectionId,
                    'buttonType'                    : 'button',
                    'buttons'                       :
                            [
                                'buy-modal-button-save' : [
                                    'title'                   : 'save',
                                    'type'                    : 'primary',
                                    'position'                : 'right',
                                    'icon'                    : 'cog fa-spin',
                                    'iconHidden'              : true
                                ]
                            ]
                    ]
            ]
        )}}
    </div>
    <div>
        {{adminltetags.useTag('modal',
            [
                'component'                 : component,
                'componentName'             : componentName,
                'componentId'               : componentId,
                'sectionId'                 : sectionId,
                'modalId'                   : 'sell-modal',
                'modalBodyInclude'          : 'portfolios/transaction/sell',
                'modalSize'                 : 'xl',
                'modalType'                 : 'warning',
                'modalHeader'               : true,
                'modalFooter'               : true,
                'modalHeaderCloseButton'    : true,
                'modalEscClose'             : true,
                'modalTitle'                : currencySymbol ~ ' SELL TRANSACTION',
                'modalFooterButtons'        :
                    [
                    'component'                     : component,
                    'componentName'                 : componentName,
                    'componentId'                   : componentId,
                    'parentComponentId'             : parent,
                    'sectionId'                     : sectionId,
                    'buttonType'                    : 'button',
                    'buttons'                       :
                            [
                                'sell-modal-button-save' : [
                                    'title'                   : 'save',
                                    'type'                    : 'primary',
                                    'position'                : 'right',
                                    'icon'                    : 'cog fa-spin',
                                    'iconHidden'              : true
                                ]
                            ]
                    ]
            ]
        )}}
    </div>
{% endif %}
{% set portfolio = json_encode(portfolio, 16) %}
{% set transactions = json_encode(transactions, 16) %}
<script>
/*global paginatedPNotify BazProgress BazContentFields BazHelpers BazContentLoader Pace BazCore dataCollection Swal */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-id'                          : { },
        '{{componentId}}-{{sectionId}}-name'                        : { },
        '{{componentId}}-{{sectionId}}-user_id'                     : {
            placeholder: "SELECT USER"
        },
        '{{componentId}}-{{sectionId}}-invested_amount'             : { },
        '{{componentId}}-{{sectionId}}-total_value'                 : { },
        '{{componentId}}-{{sectionId}}-profit_loss'                 : { },
        '{{componentId}}-{{sectionId}}-description'                 : { },
        '{{componentId}}-{{sectionId}}-transaction_id'              : { },
        '{{componentId}}-{{sectionId}}-type'                        : {
            placeholder: "SELECT TRANSACTION TYPE",
            afterInit: function() {
                //
            }
        },
        '{{componentId}}-{{sectionId}}-amc_id'                      : {
            placeholder: "SELECT AMC",
            afterInit: function() {
                $('#{{componentId}}-{{sectionId}}-amc_id').on('select2:select', function(e) {
                    $('#{{componentId}}-{{sectionId}}-amfi_code').empty().trigger('change');
                    $('#{{componentId}}-{{sectionId}}-amfi_code').attr('disabled', false);
                    dataCollectionSectionForm['funcs']['cleanup']();
                });
            }
        },
        '{{componentId}}-{{sectionId}}-amfi_code'                   : {
            placeholder: "SELECT SCHEME",
            "ajax"          : {
                url         : "{{links.url('mf/schemes/searchSchemesForAMC')}}",
                dataType    : "json",
                method      : "post",
                data: function(params) {
                    var query = { };
                    query[$('#security-token').attr('name')] = $('#security-token').val();
                    query['amc_id'] = $('#{{componentId}}-{{sectionId}}-amc_id').val();
                    query['search'] = params.term;

                    return query;
                },
                processResults: function(response) {
                    if (response.responseData.schemes) {
                        var schemesData = [];

                        for (var scheme in response.responseData.schemes) {
                            schemesData.push({
                                "id"    : response.responseData.schemes[scheme]["id"],
                                "text"  : response.responseData.schemes[scheme]["name"]
                            });
                        }

                        return {
                            results: schemesData
                        }
                    } else {
                        return {
                            results : []
                        }
                    }
                }
            },
            minimumInputLength : 3,
            afterInit: function() {
                $('#{{componentId}}-{{sectionId}}-amfi_code').on('select2:select', function(e) {
                    var postData = { };
                    postData[$('#security-token').attr('name')] = $('#security-token').val();
                    postData['id'] = e.params.data.id;

                    $.post('{{links.url("mf/schemes/getSchemeNav")}}', postData, function(response) {
                        if (response.tokenKey && response.token) {
                            $("#security-token").attr("name", response.tokenKey);
                            $("#security-token").val(response.token);
                        }

                        if (response.responseCode === 0) {
                            if (response.responseData.scheme) {
                                dataCollectionSectionForm['funcs']['cleanup']();

                                dataCollectionSectionForm['vars']['scheme'] = response.responseData.scheme;

                                if (response.responseData.scheme.id) {
                                    $('#{{componentId}}-{{sectionId}}-scheme_id').val(response.responseData.scheme.id);
                                }
                                if (response.responseData.scheme.isin) {
                                    $('#{{componentId}}-{{sectionId}}-isin').val(response.responseData.scheme.isin);
                                }
                                if (response.responseData.scheme.navs && response.responseData.scheme.navs.latest_nav) {
                                    $('#{{componentId}}-{{sectionId}}-latest_nav').val(response.responseData.scheme.navs.latest_nav);
                                }
                                if (response.responseData.scheme.navs && response.responseData.scheme.navs.last_updated) {
                                    $('#{{componentId}}-{{sectionId}}-latest_nav_date').val(response.responseData.scheme.navs.last_updated);
                                }
                                if (response.responseData.scheme.navs &&
                                    response.responseData.scheme.navs.navs &&
                                    Object.keys(response.responseData.scheme.navs.navs).length > 0
                                ) {
                                    $('#{{componentId}}-{{sectionId}}-first_nav_date').val(Object.keys(response.responseData.scheme.navs.navs)[0]);
                                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.minDate = Object.keys(response.responseData.scheme.navs.navs)[0];
                                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.maxDate = response.responseData.scheme.navs.last_updated;
                                    $('#{{componentId}}-{{sectionId}}-import').attr('disabled', false);
                                } else {
                                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.minDate = '2000-01-01';
                                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].setDate('today');
                                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.maxDate = "today";
                                    $('#{{componentId}}-{{sectionId}}-import').attr('disabled', true);
                                }
                            }
                        } else if (response.responseCode === 1) {
                            paginatedPNotify('error', {
                                text : response.responseMessage
                            });

                            dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.minDate = '2000-01-01';
                            dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].setDate('today');
                            dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.maxDate = "today";
                            $('#{{componentId}}-{{sectionId}}-amfi_code').empty().trigger('change');
                            dataCollectionSectionForm['funcs']['cleanup']();
                        }
                    }, 'json');
                });
            }
        },
        '{{componentId}}-{{sectionId}}-buy-date'                    : {
            dateFormat          : "Y-m-d",
            altFormat           : "Y-m-d",
            static              : true,
            maxDate             : "today",
            onChange: function(selectedDates, dateStr, instance) {
                if (dateStr !== '') {
                    $('#{{componentId}}-{{sectionId}}-buy-amount').attr('disabled', false);
                    if (dataCollectionSectionForm['vars']['scheme']['navs']['navs'][$('#{{componentId}}-{{sectionId}}-buy-date').val()]['nav']) {
                        $('#{{componentId}}-{{sectionId}}-buy-selected-nav')
                            .val(dataCollectionSectionForm['vars']['scheme']['navs']['navs'][$('#{{componentId}}-{{sectionId}}-buy-date').val()]['nav']);
                    }
                } else {
                    $('#{{componentId}}-{{sectionId}}-buy-amount').attr('disabled', true);
                    $('#{{componentId}}-{{sectionId}}-buy-selected-nav').val('');
                }
            }
        },
        '{{componentId}}-{{sectionId}}-sell-date'                   : {
            dateFormat          : "Y-m-d",
            altFormat           : "Y-m-d",
            static              : true,
            maxDate             : "today"
        },
        '{{componentId}}-{{sectionId}}-buy-selected-nav'            : { },
        '{{componentId}}-{{sectionId}}-sell-selected-nav'           : { },
        '{{componentId}}-{{sectionId}}-buy-amount'                  : { },
        '{{componentId}}-{{sectionId}}-sell-amount'                 : { },
        '{{componentId}}-{{sectionId}}-buy-tx_units'                : { },
        '{{componentId}}-{{sectionId}}-sell-tx_units'               : { },
        '{{componentId}}-{{sectionId}}-buy-tx_id'                   : { },
        '{{componentId}}-{{sectionId}}-sell-tx_id'                  : { },
        '{{componentId}}-{{sectionId}}-buy-folio_no'                : { },
        '{{componentId}}-{{sectionId}}-sell-folio_no'               : { },
        '{{componentId}}-{{sectionId}}-scheme_id'                   : { },
        '{{componentId}}-{{sectionId}}-isin'                        : { },
        '{{componentId}}-{{sectionId}}-latest_nav'                  : { },
        '{{componentId}}-{{sectionId}}-latest_nav_date'             : { },
        '{{componentId}}-{{sectionId}}-first_nav_date'              : { },
        '{{componentId}}-{{sectionId}}-details'                     : { },
        '{{componentId}}-{{sectionId}}-form' : {
            rules: {
                '{{componentId}}-{{sectionId}}-name'            : 'required',
                '{{componentId}}-{{sectionId}}-user_id'         : 'required',
            },
            messages: {
                '{{componentId}}-{{sectionId}}-name'            : 'Please enter name',
                '{{componentId}}-{{sectionId}}-user_id'         : 'Please select user',
            }
        }
});

dataCollectionSectionForm['vars'] = { };
dataCollectionSectionForm['vars']['portfolio'] = JSON.parse('{{portfolio}}');
dataCollectionSectionForm['vars']['transactions'] = JSON.parse('{{transactions}}');
dataCollectionSectionForm['vars']['scheme'] = { };
dataCollectionSectionForm['funcs'] = { };
dataCollectionSectionForm['funcs']['cleanup'] = function() {
    $('#{{componentId}}-{{sectionId}}-import').attr('disabled', true);
    $('#{{componentId}}-{{sectionId}}-isin').val('');
    $('#{{componentId}}-{{sectionId}}-latest_nav').val('');
    $('#{{componentId}}-{{sectionId}}-latest_nav_date').val('');
    $('#{{componentId}}-{{sectionId}}-first_nav_date').val('');
    $('#{{componentId}}-{{sectionId}}-buy-amount').val('');
    $('#{{componentId}}-{{sectionId}}-buy-tx_units').val('');
    $('#{{componentId}}-{{sectionId}}-buy-tx_id').val('');
    $('#{{componentId}}-{{sectionId}}-buy-folio_no').val('');
    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.minDate = '2000-01-01';
    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].config.maxDate = 'today';
    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].clear();
    dataCollectionSectionForm['vars']['scheme'] = { };
}
dataCollectionSectionForm['funcs']['init'] = function() {
    var swalSound = window['dataCollection'].env.sounds.swalSound;

    setTimeout(function(){
        if ($.fn.DataTable && !$.fn.DataTable.isDataTable('#{{componentId}}-{{sectionId}}-transactions-table')) {
            $('#{{componentId}}-{{sectionId}}-transactions-table').DataTable({
                columns: [
                    {visible: false},
                    null,
                    null,
                    null,
                    null,
                    null,
                    {orderable: false}
                ],
                order: [
                    [0, 'desc']
                ],
                lengthMenu: [
                    [50, 100, -1],
                    [50, 100, 'All']
                ]
            });
        }
    }, 1000);

    $('#{{componentId}}-{{sectionId}}-recalculate').off();
    $('#{{componentId}}-{{sectionId}}-recalculate').click(function(e) {
        e.preventDefault();

        // $(this).attr('disabled', true);
        $(this).children('i').attr('hidden', false);

        var postData = { };
        postData[$('#security-token').attr('name')] = $('#security-token').val();
        postData['portfolio_id'] = $('#{{componentId}}-{{sectionId}}-id').val();

        $.post('{{links.url("mf/portfolios/recalculatePortfolioTransactions")}}', postData, function(response) {
            $('#{{componentId}}-{{sectionId}}-recalculate').attr('disabled', false);
            $('#{{componentId}}-{{sectionId}}-recalculate').children('i').attr('hidden', true);

            if (response.tokenKey && response.token) {
                $("#security-token").attr("name", response.tokenKey);
                $("#security-token").val(response.token);
            }

            if (response.responseCode === 0) {
                paginatedPNotify('success', {
                    text : response.responseMessage
                });

                if (response.responseData.invested_amount) {
                    $('#{{componentId}}-{{sectionId}}-invested_amount').val(response.responseData.invested_amount);
                }
                if (response.responseData.total_value) {
                    $('#{{componentId}}-{{sectionId}}-total_value').val(response.responseData.total_value);
                }
                if (response.responseData.profit_loss) {
                    $('#{{componentId}}-{{sectionId}}-profit_loss').val(response.responseData.profit_loss);
                }
            } else if (response.responseCode === 1) {
                paginatedPNotify('error', {
                    text : response.responseMessage
                });
            }
        }, 'json');
    });

    if (dataCollectionSectionForm['vars']['portfolio']['invested_amount'] === '0.00') {
        $('#{{componentId}}-{{sectionId}}-sell').attr('disabled', true);
    }

    $('#{{componentId}}-{{sectionId}}-buy,' +
      '#{{componentId}}-{{sectionId}}-sell'
    ).off();
    $('#{{componentId}}-{{sectionId}}-buy,' +
      '#{{componentId}}-{{sectionId}}-sell'
    ).click(function(e) {
        e.preventDefault();

        if ($(this)[0].id === '{{componentId}}-{{sectionId}}-buy') {
            $('#{{componentId}}-{{sectionId}}-buy-modal').modal('show');

            $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').off();
            $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').click(function(e) {
                e.preventDefault();

                processTransaction('buy');
            });
        } else if ($(this)[0].id === '{{componentId}}-{{sectionId}}-sell') {
            $('#{{componentId}}-{{sectionId}}-sell-modal').modal('show');

            $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').off();
            $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').click(function(e) {
                e.preventDefault();

                processTransaction('sell');
            });
        }
    });

    $('#{{componentId}}-{{sectionId}}-import').off();
    $('#{{componentId}}-{{sectionId}}-import').click(function(e) {
        e.preventDefault();

        var thisButton = $(this);
        // $(thisButton).addClass('disabled');
        $(thisButton).children('i').attr('hidden', false);

        var postData = { };
        postData[$('#security-token').attr('name')] = $('#security-token').val();
        postData['get_all_navs'] = true;
        postData['scheme_id'] = $('#{{componentId}}-{{sectionId}}-scheme_id').val();

        $.post('{{links.url("mf/extractdata/getAllNavData")}}', postData, function(response) {
            $(thisButton).removeClass('disabled');
            $(thisButton).children('i').attr('hidden', true);

            if (response.responseCode == 0) {
                paginatedPNotify('success', 'Import success. Please reselect the scheme.');
            } else {
                paginatedPNotify('error', response.responseMessage);
            }

            $('#{{componentId}}-{{sectionId}}-amfi_code').empty().trigger('change');

            dataCollectionSectionForm['funcs']['cleanup']();

            if (response.tokenKey && response.token) {
                $("#security-token").attr("name", response.tokenKey);
                $("#security-token").val(response.token);
            }
        }, 'json');
    });

    function processTransaction(task = '', update = false, remove = false) {
        var postData = { };

        postData[$('#security-token').attr('name')] = $('#security-token').val();
        if (remove) {
            postData['id'] = $('#{{componentId}}-{{sectionId}}-transaction_id').val();
        } else {
            if (update) {
                postData['id'] = $('#{{componentId}}-{{sectionId}}-transaction_id').val();
            }
            postData['user_id'] = $('#{{componentId}}-{{sectionId}}-user_id').val();
            postData['portfolio_id'] = $('#{{componentId}}-{{sectionId}}-id').val();
            postData['amc_id'] = $('#{{componentId}}-{{sectionId}}-amc_id').val();
            postData['amfi_code'] = $('#{{componentId}}-{{sectionId}}-amfi_code').val();
            postData['folio_no'] = $('#{{componentId}}-{{sectionId}}-buy-folio_no').val();
            postData['tx_id'] = $('#{{componentId}}-{{sectionId}}-buy-tx_id').val();
            postData['date'] = $('#{{componentId}}-{{sectionId}}-' + task + '-date').val();
            postData['amount'] = $('#{{componentId}}-{{sectionId}}-' + task + '-amount').val();
            postData['type'] = task;
            if (task === 'buy') {
                postData['tx_status'] = 'open';
            }
            postData['details'] = $('#{{componentId}}-{{sectionId}}-details').val();
        }

        if (postData['date'] === '' && !remove) {
            $('#{{componentId}}-{{sectionId}}-date').siblings('input').addClass('is-invalid');
            $('#{{componentId}}-{{sectionId}}-date').siblings('input').focus(function() {
                $(this).removeClass('is-invalid');
            });
        } else if (postData['amount'] === '' && !remove) {
            $('#{{componentId}}-{{sectionId}}-amount').addClass('is-invalid');
            $('#{{componentId}}-{{sectionId}}-amount').focus(function() {
                $(this).removeClass('is-invalid');
            });
        } else {
            // $('#{{componentId}}-{{sectionId}}-modal-button-save').attr('disabled', true);
            // $('#{{componentId}}-{{sectionId}}-modal-button-save').children('i').attr('hidden', false);

            var url;
            if (remove) {
                url = '{{links.url("mf/portfolios/removeTransaction")}}';
            } else {
                url = '{{links.url("mf/portfolios/addTransaction")}}';
                if (update) {
                    url = '{{links.url("mf/portfolios/updateTransaction")}}';
                }
            }

            $.post(url, postData, function(response) {
                if (response.tokenKey && response.token) {
                    $('#security-token').attr('name', response.tokenKey);
                    $('#security-token').val(response.token);
                }

                if (response.responseCode == 0) {
                    paginatedPNotify('success', {text : response.responseMessage});

                    if (!remove) {
                        $('#{{componentId}}-{{sectionId}}-transaction-modal').modal('hide');
                        $('.modal-backdrop').remove();
                        $('#body').removeClass('modal-open');
                    }

                    dataCollectionSectionForm['funcs']['browse']();
                } else {
                    paginatedPNotify('error', {text : response.responseMessage});
                }

                $('#{{componentId}}-{{sectionId}}-modal-button-save').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-modal-button-save').children('i').attr('hidden', true);
            }, 'json');
        }
    }

    $('.viewTransaction').off();
    $('.viewTransaction').each(function(rowId, row) {
        $(row).off();
        $(row).click(function(e) {
            e.preventDefault();

            var idArr = $(this)[0].id.split('-');
            var id = idArr[idArr.length - 1];

            if (dataCollectionSectionForm['vars']['transactions'][id]) {
                $('#{{componentId}}-{{sectionId}}-transaction_id').val(dataCollectionSectionForm['vars']['transactions'][id]['id']);
                if (dataCollectionSectionForm['vars']['transactions'][id]['type'] === 'buy') {
                    $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').attr('hidden', true);
                    $('#{{componentId}}-{{sectionId}}-buy-modal').modal('show');
                } else if (dataCollectionSectionForm['vars']['transactions'][id]['type'] === 'sell') {
                    $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').attr('hidden', true);
                    $('#{{componentId}}-{{sectionId}}-sell-modal').modal('show');
                }

                $('#{{componentId}}-{{sectionId}}-details').val(dataCollectionSectionForm['vars']['transactions'][id]['details']);
            }
        });
    });

    $('.editTransaction').off();
    $('.editTransaction').each(function(rowId, row) {
        $(row).off();
        $(row).click(function(e) {
            e.preventDefault();

            var idArr = $(this)[0].id.split('-');
            var id = idArr[idArr.length - 1];

            if (dataCollectionSectionForm['vars']['transactions'][id]) {
                $('#{{componentId}}-{{sectionId}}-transaction_id').val(dataCollectionSectionForm['vars']['transactions'][id]['id']);
                if (dataCollectionSectionForm['vars']['transactions'][id]['type'] === 'buy') {
                    $('#{{componentId}}-{{sectionId}}-buy-date').val(dataCollectionSectionForm['vars']['transactions'][id]['date']);
                    dataCollectionSection["{{componentId}}-{{sectionId}}-buy-date"]['flatpickr'].setDate(dataCollectionSectionForm['vars']['transactions'][id]['date'])
                    $('#{{componentId}}-{{sectionId}}-buy-amount').val(dataCollectionSectionForm['vars']['transactions'][id]['amount']);

                    $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').attr('hidden', false);
                    $('#{{componentId}}-{{sectionId}}-buy-modal').modal('show');

                    $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').off();
                    $('#{{componentId}}-{{sectionId}}-buy-modal-button-save').click(function(e) {
                        e.preventDefault();

                        processTransaction('buy', true);
                    });
                } else if (dataCollectionSectionForm['vars']['transactions'][id]['type'] === 'sell') {
                    $('#{{componentId}}-{{sectionId}}-sell-date').val(dataCollectionSectionForm['vars']['transactions'][id]['date']);
                    dataCollectionSection["{{componentId}}-{{sectionId}}-sell-date"]['flatpickr'].setDate(dataCollectionSectionForm['vars']['transactions'][id]['date'])
                    $('#{{componentId}}-{{sectionId}}-sell-amount').val(dataCollectionSectionForm['vars']['transactions'][id]['amount']);

                    $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').attr('hidden', false);
                    $('#{{componentId}}-{{sectionId}}-sell-modal').modal('show');

                    $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').off();
                    $('#{{componentId}}-{{sectionId}}-sell-modal-button-save').click(function(e) {
                        e.preventDefault();

                        processTransaction('sell', true);
                    });
                }

                $('#{{componentId}}-{{sectionId}}-details').val(dataCollectionSectionForm['vars']['transactions'][id]['details']);
            }

        });
    });

    $('.removeTransaction').off();
    $('.removeTransaction').each(function(rowId, row) {
        $(row).off();
        $(row).click(function(e) {
            e.preventDefault();

            Swal.fire({
                title                       : '<span class="text-danger"> Remove transaction?</span>',
                icon                        : 'question',
                background                  : 'rgba(0,0,0,.8)',
                backdrop                    : 'rgba(0,0,0,.6)',
                buttonsStyling              : false,
                confirmButtonText           : 'Remove',
                customClass                 : {
                    'confirmButton'             : 'btn btn-danger text-uppercase',
                    'cancelButton'              : 'ml-2 btn btn-secondary text-uppercase',
                },
                showCancelButton            : true,
                keydownListenerCapture      : true,
                allowOutsideClick           : true,
                allowEscapeKey              : true,
                didOpen                     : function() {
                    swalSound.play();
                }
            }).then((result) => {
                if (result.value) {
                    var idArr = $(this)[0].id.split('-');
                    var id = idArr[idArr.length - 1];

                    if (dataCollectionSectionForm['vars']['transactions'][id]) {
                        $('#{{componentId}}-{{sectionId}}-transaction_id').val(dataCollectionSectionForm['vars']['transactions'][id]['id']);
                    }

                    processTransaction('', false, true);
                }
            });
        });
    });

    $('#{{componentId}}-{{sectionId}}-buy-modal, {{componentId}}-{{sectionId}}-sell-modal').on('hide.bs.modal', function (e) {
        $('#{{componentId}}-{{sectionId}}-amfi_code').empty().trigger('change');
        $('#{{componentId}}-{{sectionId}}-amfi_code').attr('disabled', true);
        $('#{{componentId}}-{{sectionId}}-amc_id').val(0).trigger('change');
        dataCollectionSectionForm['funcs']['cleanup']();
    });

    $('#{{componentId}}-{{sectionId}}-buy-amount').keyup(function() {
        if ($('#{{componentId}}-{{sectionId}}-buy-amount').val() !== '') {
            var nav = dataCollectionSectionForm['vars']['scheme']['navs']['navs'][$('#{{componentId}}-{{sectionId}}-buy-date').val()]['nav'];
            var units = $('#{{componentId}}-{{sectionId}}-buy-amount').val() / nav;
            $('#{{componentId}}-{{sectionId}}-buy-tx_units').val(units);
        } else {
            $('#{{componentId}}-{{sectionId}}-buy-tx_units').val('');
        }
    });
}

dataCollectionSectionForm['funcs']['browse'] = function() {
    BazContentLoader.loadAjax($('#{{componentId}}-{{sectionId}}-portfolios-link'), {
        ajaxBefore                      : function () {
                                            Pace.restart();
                                            $("#baz-content").empty();
                                            $("#loader").attr('hidden', false);
                                        },
        ajaxFinished                    : function () {
                                            BazCore.updateBreadcrumb();
                                            $("#loader").attr('hidden', true);
                                        },
        ajaxError                       : function () {
                                            $("#loader").attr('hidden', true);
                                            BazCore.updateBreadcrumb();
                                        }
    });
}

$(document).ready(function() {
    dataCollectionSectionForm['funcs']['init']();
});
</script>