
{% set subcategoriesHtml = '' %}
{% if portfolio['allocation']['by_subcategories'] is defined and portfolio['allocation']['by_subcategories']|length > 0 %}
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('buttons',
                [
                    'componentId'           : componentId,
                    'sectionId'             : sectionId,
                    'buttonType'            : 'button',
                    'buttons'               :
                        [
                            'switch-subcategories-chart' : [
                                'title'                   : false,
                                'size'                    : 'sm',
                                'icon'                    : 'chart-pie'
                            ]
                        ]
                ]
            )}}
        </div>
    </div>
    {% for subcategories in portfolio['allocation']['by_subcategories'] %}
        {% set returnColor = 'success' %}
        {% if subcategories['return_percent'] < subcategories['invested_percent'] %}
            {% set returnColor = 'warning' %}
        {% endif %}
        {% set subcategoriesHtml = subcategoriesHtml ~ '<tr>' ~
        '           <td>' ~ subcategories['category']['id'] ~ '</td>' ~
        '           <td>' ~ subcategories['category']['name'] ~ '</td>' ~
        '           <td>' ~ subcategories['invested_amount'] ~ '</td>' ~
        '           <td>' ~ subcategories['invested_percent'] ~ '</td>' ~
        '           <td>' ~ subcategories['return_amount'] ~ '</td>' ~
        '           <td class="text-' ~ returnColor ~ '">' ~ subcategories['return_percent'] ~ '</td>' ~
        '           <td>' ~ subcategories['investments']|length ~ '</td>' ~
        '   </tr>'
        %}
    {% endfor %}
    <div class="row">
        <div class="col">
            <canvas class="text-center" id="allocation-subcategories-amount" style="max-height:400px;"></canvas>
        </div>
        <div class="col">
            <canvas class="text-center" id="allocation-subcategories-percent" style="max-height:400px;"></canvas>
        </div>
    </div>
    <hr>
{% endif %}
<div class="row">
    <div class="col">
        <table id="{{componentId}}-{{sectionId}}-allocation-subcategories-table" class="table table-sm table-hover responsive nowrap mb-0" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-uppercase">Category ID</th>
                    <th class="text-uppercase">Category</th>
                    <th class="text-uppercase">Invested Amount</th>
                    <th class="text-uppercase">Invested %</th>
                    <th class="text-uppercase">Return Amount</th>
                    <th class="text-uppercase">Return %</th>
                    <th class="text-uppercase"># of Investments</th>
                </tr>
            </thead>
            <tbody>
                {{subcategoriesHtml}}
            </tbody>
        </table>
    </div>
</div>
{% if portfolio['allocation']['by_subcategories'] is defined and portfolio['allocation']['by_subcategories']|length > 2 %}
    <hr>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'subcategories_percentage_variance',
                    'fieldLabel'                     : 'Calculate Categories percentage difference',
                    'fieldType'                      : 'html',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'To calculate difference between 2 subcategories, select them on the table via clicking them. Click again to deselect and seclect other subcategories. Calculation will be done from lower value to higher value.',
                    'fieldRequired'                  : false,
                    'fieldBazScan'                   : true,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldHtmlContent'               : 'Please select 2 subcategories...'
                ]
            )}}
        </div>
    </div>
{% endif %}
