{% set initialInvestmentHidden = false %}
{% if initialInvestment is defined and initialInvestment == false %}
    {% set initialInvestmentHidden = true %}
{% endif %}
{% set currentHidden = 'hidden' %}
{% set newHidden = 'hidden' %}
{% set selectionHidden = 'hidden' %}
<div class="row vdivide">
    {% set investments = [] %}
    {% if portfolio['investments']|length > 0 %}
        {% for schemeId, investment in portfolio['investments'] %}
            {% if investment['status'] == 'close' %}
                {% continue %}
            {% endif %}
            {% set investments[schemeId] = investment %}
        {% endfor %}
    {% endif %}
    {% if investments|length > 0 %}
        {% set selection = 'current' %}
        {% set selectionHidden = '' %}
    {% else %}
        {% set selection = 'new' %}
        {% set newHidden = '' %}
    {% endif %}
    <div class="col-md-3" {{selectionHidden}}>
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'investment_source',
                'fieldLabel'                     : 'investment source',
                'fieldType'                      : 'radio',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Select investment source.',
                'fieldRequired'                  : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazScan'                   : true,
                'fieldRadioButtons'              :
                    [
                        'current' :
                            [
                                'title'          : 'CURRENT INVESTMENTS',
                                'type'           : 'info',
                                'dataValue'      : 'current'
                            ],
                        'new' :
                            [
                                'title'          : 'NEW INVESTMENT',
                                'type'           : 'info',
                                'dataValue'      : 'new'
                            ]
                    ],
                'fieldRadioChecked'              : selection
            ]
        )}}
    </div>
    <div class="col sources" id="{{componentId}}-{{sectionId}}-current" {{currentHidden}}>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'sell_transaction_id',
                        'fieldLabel'                     : 'Select Investment to withdraw from',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Select a transaction to sell',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataSelect2Options'        : investments,
                        'fieldDataSelect2OptionsKey'     : 'scheme_id',
                        'fieldDataSelect2OptionsValue'   : 'scheme/name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': ''
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'sell-scheme_id',
                        'fieldLabel'                     : 'Scheme Id',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldDisabled'                  : true,
                        'fieldHidden'                    : true,
                        'fieldHelpTooltipContent'        : 'Scheme Id for the scheme',
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldValue'                     : ''
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'sell-isin',
                        'fieldLabel'                     : 'ISIN',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'ISIN for the scheme',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'sell-available_amount',
                        'fieldLabel'                     : 'Available Amount',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Available Amount',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'sell-available_units',
                        'fieldLabel'                     : 'Available Units',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Available units',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
        </div>
    </div>
    <div class="col sources" id="{{componentId}}-{{sectionId}}-new" {{newHidden}}>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'amc_id',
                        'fieldLabel'                     : 'AMC',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Select AMC to search scheme',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataSelect2Options'        : amcs,
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': ''
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'scheme_id',
                        'fieldLabel'                     : 'Scheme',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Select Scheme',
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataSelect2Options'        : [],
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': ''
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'investment_amount',
                        'fieldLabel'                     : 'Initial Investment Amount',
                        'fieldType'                      : 'input',
                        'fieldGroupPreAddonText'         : currencySymbol,
                        'fieldInputTypeTextFilter'       : 'positiveCurrency',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Investment Transaction Amount',
                        'fieldRequired'                  : true,
                        'fieldHidden'                    : initialInvestmentHidden,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldValue'                     : ''
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'investment_date',
                        'fieldLabel'                     : 'Initial Investment Date',
                        'fieldType'                      : 'flatpickr',
                        'fieldFlatpickrClearButton'      : true,
                        'fieldHelp'                      : true,
                        'fieldHidden'                    : initialInvestmentHidden,
                        'fieldHelpTooltipContent'        : 'Investment Date',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldValue'                     : ''
                    ]
                )}}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                {{adminltetags.useTag('buttons',
                    [
                        'componentId'           : componentId,
                        'sectionId'             : sectionId,
                        'buttonType'            : 'button',
                        'buttons'               :
                            [
                                'buy-import' : [
                                    'title'                   : 'Import Navs',
                                    'position'                : 'right',
                                    'size'                    : 'sm',
                                    'disabled'                : true,
                                    'icon'                    : 'cog fa-spin',
                                    'iconHidden'              : true
                                ]
                            ]
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'buy-scheme_id',
                        'fieldLabel'                     : 'Scheme Id',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldDisabled'                  : true,
                        'fieldHidden'                    : true,
                        'fieldHelpTooltipContent'        : 'Scheme Id for the scheme',
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldValue'                     : ''
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'buy-isin',
                        'fieldLabel'                     : 'ISIN',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'ISIN for the scheme',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'buy-first_nav_date',
                        'fieldLabel'                     : 'First NAV date',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'First NAV date for the scheme',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'buy-latest_nav_date',
                        'fieldLabel'                     : 'Latest NAV date',
                        'fieldType'                      : 'html',
                        'fieldAdditionalClass'           : 'mb-0',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Latest NAV date for the scheme',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHtmlContent'               : '-'
                    ]
                )}}
            </div>
        </div>
    </div>
</div>
<script>
/* globals paginatedPNotify Swal */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-investment_source'                       : {
            afterInit : function() {
                $('#{{componentId}}-{{sectionId}}-investment_source').click(function() {
                    processSchedules();
                });

                function processSchedules() {
                    dataCollectionSectionForm['vars']['source'] = $('#{{componentId}}-{{sectionId}}-investment_source').find('input[type=radio]:checked').data('value');

                    if ($('#{{componentId}}-{{sectionId}}-investment_source').find('input[type=radio]:checked').data('value') == 'current') {
                        $('.sources').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-current').attr('hidden', false);
                    } else if ($('#{{componentId}}-{{sectionId}}-investment_source').find('input[type=radio]:checked').data('value') == 'new') {
                        $('.sources').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-new').attr('hidden', false);
                    }
                }

                processSchedules();
            }
        },
        '{{componentId}}-{{sectionId}}-investment_amount'                       : { },
        '{{componentId}}-{{sectionId}}-investment_date'                         : {
            dateFormat          : "Y-m-d",
            altFormat           : "d-m-Y",
            allowInput          : true,
            static              : true,
            minDate             : "2000-01-01",
            maxDate             : "today",
            onChange: function(selectedDates, dateStr, instance) {
                if (dateStr !== '') {
                    dataCollectionSectionForm['vars']['investmentDate'] = dateStr;
                } else {
                    dataCollectionSectionForm['vars']['investmentDate'] = null;
                }
            },
            disable: [
                function(date) {
                    // return true to disable
                    return (date.getDay() === 0 || date.getDay() === 6);
                }
            ],
            locale: {
                "firstDayOfWeek": 1 // start week on Monday
            }
        },
        '{{componentId}}-{{sectionId}}-form'                                    : {
            ignore      : ':submit, :reset, :image, :hidden, .ignore, .cr-slider',
            rules: {
            },
            messages: {
            }
        }
    })
</script>